Features

Name
	
Attr.
	
Basis
	
Makro


Kampffertigkeiten:

Nahkampf:
					
Waffenlos 					
Hiebwaffen 					
Klingenwaffen 					
Fechtwaffen 					
Kettenwaffen 					
Langwaffen 					
Peitschenwaffen 					
Exotische Waffen 					
 
Fernkampf:
					
Blasrohr 					
Wurfwaffen 					
Bogen & Armbrust 					
Pistolen & Revolver 					
Gewehre & Flinten 					
Dampfdruckwaffen 					
Belagerungswaffen 	
	


Fertigkeiten Bereich

Durchhaltevermögen 			  
Standhaftigkeit 			  
Willensstärke 			  
Schwimmen 			  
Klettern 			  
Kraftakt 			  
Verhandeln 			  
Einschüchtern 			  
Flirten 			  
 
Betrug 			  
Selbstbeherrschung 			  
Astralsicht 			  
Wahrnehmung 			  
Empathie 			  
Erinnerung 			  
Reiten/Lenken 			  
Akrobatik 			  
Schleichen 			  
	
Fingerfertigkeit 			  
Allgemeinwissen 			  
Technik 			  
Orientierung 			  
Logisches Denken 			  
Improvisieren 			  
Singen 			  
Tanzen 			  
Musizieren