<label style="width: 150px; color: rgb(0, 0, 0); text-align: center;">Status Bereich</label>
<table class="attribute_center" border="2">
   <tbody>
      <tr>
         <th nowrap colspan="2" style="width: 150px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Status</label></th>
         <th nowrap style="width: 60px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Wert (aktuell)</label></th>
         <th nowrap style="width: 50px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Wert (gesant)</label></th>
         <th nowrap colspan="2" style="width: 150px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Status</label></th>
         <th nowrap style="width: 60px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Wert (aktuell)</label></th>
         <th nowrap style="width: 50px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Wert (gesant)</label></th>
         <th nowrap colspan="2" style="width: 150px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Status</label></th>
         <th nowrap style="width: 60px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Wert (aktuell)</label></th>
         <th nowrap style="width: 50px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Wert (gesant)</label></th>
      </tr>
      <tr style="width: 120px;">
         <td colspan="12" style="height: 15px; font-size: 13px; text-align:center; color: rgb(255, 50, 0);" border="1">Ressourcen Bereich</td>
      </tr>
      <tr style="width: 120px;">
      </tr> 
   </tbody>
</table>

"name": "Erfahrungspunte aktuell",
"name": "Erfahrungspunte gesamt",
"name": "Essenzpunte aktuell",
"name": "Essenzpunte gesamt",
"name": "Kosmospunte aktuell",
"name": "Kosmospunte gesamt",

"name": "Alter",
"name": "Geschlecht",
"name": "Grösse",
"name": "Gewicht",
"name": "Augenfarbe",
"name": "Haarfarbe",
"name": "Herkunft",
"name": "Glaube",