<form class="Character-Sheet {cssClass}" autocomplete="off">

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="charstats">Status</a>
        <a class="item" data-tab="attributes">Attribute</a>
        <a class="item" data-tab="inventory">Inventar</a>
        <a class="item" data-tab="features">Fertigkeiten</a>
        <a class="item" data-tab="spellbook">Buch der Gaben</a>
        <a class="item" data-tab="effects">Notizen</a>
        <a class="item" data-tab="biography">Biographie</a>
    </nav>

    {{!-- Character Sheet Body - Start --}}
    <section class="sheet-body">

        <div class="tab stats flexrow" data-group="primary" data-tab="stats">
             {{> "systems/toeloria/templates/sheets/character/actor-stats.html" sections=stats}}
        </div>

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
             {{> "systems/toeloria/templates/sheets/character/actor-attributes.html" sections=attributes}}
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/toeloria/templates/sheets/character/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/toeloria/templates/sheets/character/actor-features.html" sections=features}}
        </div>

        {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/toeloria/templates/sheets/character/actor-spellbook.html" sections=spellbook}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/toeloria/templates/sheets/character/active-effects.html" sections=effects}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab flexrow" data-group="primary" data-tab="biography">
            <div class="biography">
                {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable rollData=rollData}}
            </div>
        </div>
        {{!-- Character Sheet Body - End --}}

    </section>

</form>